#game-board .card[data-is-current-player='true'] {
  background: #f7edb7;
}

#game-board .card[data-is-current-player='true'],
#game-board .card[data-is-current-player='true'] > * {
  border-width: calc(var(--bs-border-width) * 3) !important;
}

#game-board .card[data-is-next-player='true'] {
  background: #e1cdf4;
}
